body {
    background-color: #61E8E1;
}

button#grid-size-button {
    position: absolute;
    top: 5%;
    left: 45%;
    border-radius: 10px;
    border: none;
    border-bottom: 5px solid;
    background: #EAF2E3;
    font-family: Verdana;
    font-size: 2em;
}

button#grid-size-button:hover {
    border-bottom: 6px solid;
    background: darkgreen;
    transition: border-bottom 0.05s;
}

button#grid-size-button:active {
    border-bottom: 3px solid;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(226, 201, 56);
    border-radius: 20px;
    border: 3px solid black;
    width: 250px;
    height: 150px;
    position: relative;
    top: 50vh;
    left: 45px;
}

.menu-content-container {
    /* background: rgb(211, 197, 119); */
    /* border: 3px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-range-bar {
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;

}

.container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeaT(16, 1fr);
    grid-auto-flow: dense;
    height: 80vh;
    width: 60vw;
    background: #F25757;
    border: solid;
    overflow: hidden;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAF2E3;
    
}
